<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318400651323-1gt395ka4ucri6ush6mrok19oj60kdp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318400651323-1gt395ka4ucri6ush6mrok19oj60kdp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQVCgbh4YkFS3alPrDfgKmEPHeLCMtDAo</string>
	<key>GCM_SENDER_ID</key>
	<string>318400651323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beemove.ph</string>
	<key>PROJECT_ID</key>
	<string>beemovephil-81328</string>
	<key>STORAGE_BUCKET</key>
	<string>beemovephil-81328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318400651323:ios:6979e2f81530bef2dffc1e</string>
	<key>DATABASE_URL</key>
	<string>https://beemovephil-81328-default-rtdb.firebaseio.com</string>
</dict>
</plist>